body {
    background-color: black;
  }
  .pacman {
    position: relative;
    margin-top: 200px;
    width: 50px;
    border-radius: 50%;
    background-color: #FF0;
    border-top: 100px solid #FF0;
    border-bottom: 100px solid #FF0;
    border-left: 100px solid #FF0;
    border-right: 100px solid black;
  }

  .pacman::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    bottom: 50px;
  }